body {
    font-family: "Arial";
    background-color: gold;
    padding: 20px;
}

header {
    background-color: red;
    padding: 30px;
}

footer {
    margin-top: 30px;
    background-color: black;
    padding: 20px;

}
nav {
    background-color: black;
    padding: 10px;

}

nav a {
    color: aliceblue;
    font-weight: bold;
    font-variant: full-width;
    text-decoration: none;
    border-right: 2px solid white;
    padding: 4px;
}

img {
    width: 960px;
    margin: auto;
}

div.wrapper {
    width: 960px;
    margin: auto;
}

table {
    margin-top: 30px;
    width: 49%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid black;
}

td.Elek {
    text-align: center;
    background-color: #b3ffb3;
}

td.gas {

    text-align: center;
    background-color: #b3f0ff;
}

article {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top: 30px;
    background-color: greenyellow;
}